<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>486155325406-sfrjn40ukdg1qnj4o8nc2of4tqqr0htq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.486155325406-sfrjn40ukdg1qnj4o8nc2of4tqqr0htq</string>
	<key>API_KEY</key>
	<string>AIzaSyAkApaRPQ8dbG4VPsPcw697gTReC3lELrc</string>
	<key>GCM_SENDER_ID</key>
	<string>486155325406</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finalProject2023</string>
	<key>PROJECT_ID</key>
	<string>fix-bisa</string>
	<key>STORAGE_BUCKET</key>
	<string>fix-bisa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:486155325406:ios:86ac2aa134f389b563574f</string>
</dict>
</plist>